apiVersion: v1
kind: Service
metadata:
  name: toskamesh-auth-service
  labels:
    app: toskamesh-auth-service
    component: business
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: toskamesh-auth-service
