apiVersion: v1
kind: Service
metadata:
  name: toskamesh-health-monitor
  labels:
    app.kubernetes.io/name: toskamesh
    app.kubernetes.io/instance: toskamesh
    app.kubernetes.io/component: health-monitor
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  - port: 443
    targetPort: 8443
    protocol: TCP
    name: https
  selector:
    app.kubernetes.io/name: toskamesh
    app.kubernetes.io/instance: toskamesh
    app.kubernetes.io/component: health-monitor
