apiVersion: v1
kind: Service
metadata:
  name: toskamesh-health-monitor
  labels:
    app: toskamesh-health-monitor
    component: core
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: toskamesh-health-monitor
