apiVersion: v1
kind: Service
metadata:
  name: toskamesh-gateway
  labels:
    app: toskamesh-gateway
    component: core
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  - port: 443
    targetPort: 8443
    protocol: TCP
    name: https
  selector:
    app: toskamesh-gateway
